{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}Add Product{%endblock%}
{%block css%}
<!--       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
{%endblock%}

{%block body%}


        <form id="post_form" method="post" action="{{form.action}}" enctype="multipart/form-data">

            {% csrf_token %}

            {{ ProductForm.name|as_crispy_field }}
            {{ ProductForm.description|as_crispy_field }}
            {{ ProductForm.price|as_crispy_field }}
            {{ ProductForm.category|as_crispy_field }}

            {{ formset.management_form }}
            {% for form in formset %}
              {{form.media_file| as_crispy_field }}
            {% endfor %}

            {{ Attribute.management_form }}
            {% for form in Attribute %}
            {{ form.value| as_crispy_field }}
            {% endfor %}

            <button class="btn btn-primary" type="submit" >Submit</button>
        </form><br><br><br><br><br>
{%endblock%}