{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title%}Products{%endblock%}

{%block css%}
{%endblock%}

{%block body%}
    <div class="card-deck">
        {% for pr in object_list%}
          <div class="card">
            <img src="{{pr.medias.first.media_file.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{pr.name}}</h5>
              <p class="card-text">price: {{pr.price}}</p>
              <p class="card-text">{{pr.category.name}}</p>
            </div>
              <div class="card-body">
                     <a href="https://www.varzesh3.com/" style="color:white">
                         <button type="button" class="btn btn btn-primary" style="border-radius: 10px;">Add</button>
                     </a>
                      <a href="https://www.varzesh3.com/" style="color:white">
                         <button type="button" class="btn btn-primary" style="border-radius: 10px;" >Detail</button>
                      </a>
              </div>
          </div>

        {%endfor%}
    </div>

{%endblock%}