{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {%block title%} Register {%endblock%}
{% block css %}
{% endblock %}
{%block body%}
    <div class="container">
      <h1>Contact</h1>
      <h4>Contact us directly if you have any questions</h4>
      <p>
        Please write your name, email address and a message below if  you have any questions.
        One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
      </p>
      <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.email | as_crispy_field}}
            {{form.username | as_crispy_field}}
            {{form.password | as_crispy_field}}
            {{form.avatar | as_crispy_field}}
          <button class="btn #0277bd light-blue darken-3" style="color:darkblue" type="submit" >Register</button>
      </form>
        <br>

    </div>
        <div class="container">If you already have an account, <a href="login "><strong>login</strong></a>
        instead.</div><br><br>
{% endblock %}